html, body {
  height: 100%;
  margin: 0;
}

/* flashcard styles */
.card, .element, .sort-area {
  position: relative;
  width: 40rem;
  height: 20rem;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sort-area{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.vocab-img img{
  height: 10em;
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover .card__content {
  transform: rotateX(0deg);
  opacity: 100%;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

/* page organisation */
#game-area{
  /* background-color: blue; */
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#game{
/* background-color: blue; */
display: flex;
flex-direction: column;
}

#next{
align-self: self-end;
margin-right: 20rem;
margin-top: 2rem;
}

/* for game */
.draggable-label {
background-color: #4AAE9B;
font-weight: normal;
margin-bottom: 10px;
margin-top: 10px;
padding: 10px;
}

.labels-to-sort,.sorted-labels {
display: flex;
gap: 1rem;
flex-wrap: wrap;
}

.sorted-labels{
justify-content: center;
}

.label-dropzone {
background-color: #6DB65B;
width: 4rem;
padding: 1rem;
}